.SubHeading---Blue,.SubHeading---Yellow,.Page-Main-heading---Blue,.Page-Main-Heading---Yellow
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2622-5
{
	font-family: germania-one-n4, sans-serif;
}

#u2623-4,#u2645-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2652-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2698-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2718-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2747-4,#u2752-5,#u2749-4,#u2753-5,#u2754-5,#u2751-4,#u2755-4,#u2748-4,#u2750-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2837-4,#u2840-4,#u2841-4,#u2842-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

