.SubHeading---Blue,.SubHeading---Yellow,.Page-Main-heading---Blue,.Page-Main-Heading---Yellow
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2622-5
{
	font-family: germania-one-n4, sans-serif;
}

#u2623-4,#u2645-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2652-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2698-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2718-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2747-4,#u2752-5,#u2749-4,#u2753-5,#u2754-5,#u2751-4,#u2755-4,#u2748-4,#u2750-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2762-4,#u2767-4,#u2765-4,#u2766-4,#u2763-4,#u2805-4,#u2764-4,#u2806-4,#u2768-4,#u2772-3,#u2769-4,#u2773-3,#u2770-4,#u2774-3,#u2771-4,#u2775-3,#u2776-4,#u2780-3,#u2777-3,#u2781-3,#u2778-3,#u2782-3,#u2779-3,#u2783-3
{
	font-family: source-sans-pro-n2, sans-serif;
}

