@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#FFFFFF ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1028px;
}

#page_position_content
{
	margin-bottom: -9px;
}

#pu2621
{
	width: 0.01px;
	position: relative;
}

#u2621
{
	z-index: 2;
	width: 244px;
	margin-right: -10000px;
	left: 66px;
}

#u2622-5
{
	z-index: 3;
	width: 238px;
	min-height: 90px;
	margin-right: -10000px;
}

#u2623-4
{
	z-index: 8;
	width: 214px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 30px;
}

#menuu2624
{
	z-index: 12;
	width: 71px;
	margin-right: -10000px;
	margin-top: 13px;
}

#u2641
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2644
{
	width: 71px;
}

#u2645-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
}

#menuu2649
{
	z-index: 22;
	width: 70px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1px;
}

#u2650
{
	width: 70px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2651
{
	width: 70px;
}

#u2652-4
{
	width: 70px;
	min-height: 17px;
	margin-right: -10000px;
}

#menuu2674
{
	z-index: 29;
	width: 67px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 305px;
}

#u2692
{
	width: 67px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2695
{
	width: 67px;
}

#u2698-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
}

#menuu2699
{
	z-index: 36;
	width: 68px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 304px;
}

#u2716
{
	width: 68px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2717
{
	width: 68px;
}

#u2718-4
{
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
}

#u2644.MuseMenuActive #u2645-4,#u2651.MuseMenuActive #u2652-4,#u2695.MuseMenuActive #u2698-4,#u2717.MuseMenuActive #u2718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2648-3
{
	z-index: 19;
	width: 5px;
	margin-left: 476px;
}

#pu2756
{
	width: 0.01px;
	margin-left: 9px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u2756
{
	z-index: 140;
	width: 181px;
	height: 181px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/10151934_10200992307329800_9070163260387336673_n-u2756-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2758
{
	z-index: 141;
	width: 179px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 186px;
	background: transparent url("../images/sam_0680-u2758-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#pu2762-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2762-4
{
	z-index: 143;
	width: 181px;
	min-height: 46px;
	color: #35478C;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2767-4
{
	z-index: 163;
	width: 181px;
	min-height: 112px;
	color: #7F7F7F;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu2765-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u2765-4
{
	z-index: 155;
	width: 179px;
	min-height: 37px;
	text-align: left;
	color: #35478C;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2766-4
{
	z-index: 159;
	width: 179px;
	min-height: 112px;
	color: #7F7F7F;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu2760
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 18px;
	position: relative;
}

#u2760
{
	z-index: 142;
	width: 179px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/sam_0714-u2760-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2803
{
	z-index: 220;
	width: 179px;
	height: 179px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
	background: transparent url("../images/sam_0683-u2803-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#pu2763-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 15px;
	position: relative;
}

#u2763-4
{
	z-index: 147;
	width: 181px;
	min-height: 37px;
	text-align: left;
	color: #35478C;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2805-4
{
	z-index: 221;
	width: 179px;
	min-height: 37px;
	text-align: left;
	color: #35478C;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#ppu2762-4,#pu2764-4
{
	width: 0.01px;
	margin-left: 9px;
	position: relative;
}

#u2764-4
{
	z-index: 151;
	width: 200px;
	min-height: 112px;
	color: #7F7F7F;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2806-4
{
	z-index: 225;
	width: 184px;
	min-height: 112px;
	color: #7F7F7F;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#pu2768-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u2768-4
{
	z-index: 167;
	width: 200px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2772-3
{
	z-index: 183;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2769-4
{
	z-index: 171;
	width: 200px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2773-3
{
	z-index: 186;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2770-4
{
	z-index: 175;
	width: 200px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2774-3
{
	z-index: 189;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2771-4
{
	z-index: 179;
	width: 200px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2775-3
{
	z-index: 192;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#pu2776-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u2776-4
{
	z-index: 195;
	width: 195px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2780-3
{
	z-index: 208;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#pu2777-3
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u2777-3
{
	z-index: 199;
	width: 195px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2781-3
{
	z-index: 211;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u2778-3
{
	z-index: 202;
	width: 195px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2782-3
{
	z-index: 214;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#pu2769-4,#pu2770-4,#pu2771-4,#pu2778-3,#pu2779-3
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u2779-3
{
	z-index: 205;
	width: 195px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u2783-3
{
	z-index: 217;
	width: 178px;
	min-height: 27px;
	text-align: left;
	color: #7F7F7F;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#pu2723
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u2723
{
	z-index: 43;
	width: 380px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u2747-4
{
	z-index: 101;
	width: 357px;
	min-height: 46px;
	margin-left: 16px;
}

#pu2752-5
{
	width: 0.01px;
	margin-left: 18px;
	position: relative;
}

#u2752-5
{
	z-index: 121;
	width: 68px;
	min-height: 56px;
	margin-right: -10000px;
}

#u2749-4
{
	z-index: 109;
	width: 311px;
	min-height: 94px;
	margin-right: -10000px;
	left: 68px;
}

#u2753-5
{
	z-index: 126;
	width: 60px;
	min-height: 27px;
	margin-left: 18px;
	top: -2px;
	margin-bottom: -2px;
}

#pu2754-5
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u2754-5
{
	z-index: 131;
	width: 60px;
	min-height: 27px;
	margin-right: -10000px;
}

#u2751-4
{
	z-index: 117;
	width: 311px;
	min-height: 27px;
	margin-right: -10000px;
	left: 68px;
}

#u2755-4
{
	z-index: 136;
	width: 367px;
	min-height: 29px;
	margin-left: 7px;
	margin-top: 345px;
}

#widgetu2724
{
	z-index: 44;
	width: 0.01px;
	height: 268px;
	margin-right: -10000px;
	margin-top: 253px;
	left: 16px;
}

#widgetu2737
{
	z-index: 45;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	left: -1px;
}

#widgetu2737.fld-err-st
{
	margin: 0px -10000px 0px 0px;
}

#u2738-4
{
	z-index: 46;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u2740-4
{
	z-index: 50;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2737:hover #u2740-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2737.focus-st #u2740-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2731
{
	z-index: 54;
	width: 340px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu2731.fld-err-st
{
	margin: 60px -10000px 0px 0px;
}

#u2732-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#u2735-4
{
	z-index: 59;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2737.fld-err-st #u2740-4,#widgetu2731:hover #u2735-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2731.focus-st #u2735-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2731.fld-err-st #u2735-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2737_input,#widgetu2737_prompt,#widgetu2731_input,#widgetu2731_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#u2736-4
{
	z-index: 63;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u2746-4
{
	z-index: 67;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2724.frm-subm-err-st #u2746-4
{
	min-height: 28px;
}

#u2745-4
{
	z-index: 71;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu2724.frm-sub-st #u2736-4,#widgetu2724.frm-subm-ok-st #u2745-4
{
	min-height: 25px;
}

#u2730-17
{
	z-index: 75;
	min-height: 31px;
	width: 131px;
	margin-right: -10000px;
	margin-top: 235px;
}

#widgetu2725
{
	z-index: 92;
	width: 340px;
	height: 100px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu2725.fld-err-st
{
	margin: 120px -10000px 0px 0px;
}

#u2726-4
{
	z-index: 93;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
}

#widgetu2737.fld-err-st #u2738-4,#widgetu2731.fld-err-st #u2732-4,#widgetu2725.fld-err-st #u2726-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2729-4
{
	z-index: 97;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu2725:hover #u2729-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2725.focus-st #u2729-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2725.fld-err-st #u2729-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px -1px 0px;
}

#widgetu2725_input,#widgetu2725_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu2737:hover #widgetu2737_input,#widgetu2737.focus-st #widgetu2737_input,#widgetu2737.fld-err-st #widgetu2737_input,#widgetu2737:hover #widgetu2737_prompt,#widgetu2737.focus-st #widgetu2737_prompt,#widgetu2737.fld-err-st #widgetu2737_prompt,#widgetu2731:hover #widgetu2731_input,#widgetu2731.focus-st #widgetu2731_input,#widgetu2731.fld-err-st #widgetu2731_input,#widgetu2731:hover #widgetu2731_prompt,#widgetu2731.focus-st #widgetu2731_prompt,#widgetu2731.fld-err-st #widgetu2731_prompt,#widgetu2725:hover #widgetu2725_input,#widgetu2725.focus-st #widgetu2725_input,#widgetu2725.fld-err-st #widgetu2725_input,#widgetu2725:hover #widgetu2725_prompt,#widgetu2725.focus-st #widgetu2725_prompt,#widgetu2725.fld-err-st #widgetu2725_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2748-4
{
	z-index: 105;
	width: 364px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 214px;
	left: 16px;
}

#u2750-4
{
	z-index: 113;
	width: 310px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 86px;
}

#page .verticalspacer
{
	clear: both;
}

